
.search {
  margin-top: 30px;
}

.search-container {
  display: flex;
  align-items: baseline;
}

.search__bar {
  display: flex;
  flex-basis: 76%;
  align-items: baseline;
}

.search__button {
  margin-left: 16px;
}

.search__scan {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 55px;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #1b1b1b;
}

.search__input {
  border: none;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
}

.search__input::placeholder {
  color: #22232b;
}

.search__powered {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.search__site {
  margin-left: 6px;
}

.search__logo {
  margin-left: 6px;
}

.search__match {
  flex-basis: 24%;
  margin-left: 3%;
}

.match-container {
  display: flex;
}

.match__title {
  font-size: 26px;
  line-height: 36px;
}

.match__button {
  margin-left: auto;
}

@media screen and (max-width: 992px) {
  .search__loupe {
    width: 20px;
    height: 20px;
  }

  .search__scan {
    margin-left: 26px;
  }

  .search__input {
    font-size: 18px;
    line-height: 25px;
  }

  .search__powered {
    position: absolute;
    right: 0;
    bottom: -28px;
  }

  .match__title {
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 568px) {
  .search-container {
    display: block;
  }

  .search__button {
    margin-left: 0;
  }

  .search__scan {
    display: block;
    min-width: 200px;
  }

  .search__match {
    margin-top: 57px;
    padding: 11px 0;
    margin-left: 0;
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);
  }
}

.accordeon__header {
  display: none;
}

.accordeon__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordeon__title {
  font-size: 18px;
  font-weight: 400;
}

.arrow__down {
  transform: rotate(180deg);
}

.accordeon__name {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.5;
}

@media screen and (max-width: 568px) {
  .filters {
    margin-bottom: 13px;
  }

  .accordeon__header {
    display: block;
    padding: 11px 0;
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);
  }

  .accordeon__body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease-in-out;
  }

  .active .accordeon__body {
    max-height: 1000px;
  }

  .accordeon__name {
    margin-top: 16px;
  }
}

.select__container {
  margin-top: 30px;
}

.select {
  width: 100%;
  z-index: 100;
  font-size: 16px;

  &:not(:first-child) {
    margin-top: 13px;
  }

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      border-bottom: none;
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    cursor: pointer;
  }

  &__dropdown {
    display: none;
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 2px 3px 5px rgba(27, 27, 27, 0.1);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__item {
    padding: 15px;
    border-bottom: 2px solid rgba(27, 27, 27, 0.1);

    &.selected {
      background-color: rgba(27, 27, 27, 0.1);
    }

    &:hover {
      background-color: rgba(27, 27, 27, 0.1);
      cursor: pointer;
      transition: 0.15s background-color ease-in;
    }
  }
}

@media screen and (max-width: 568px) {
  .select__container {
    margin-top: 12px;
  }

  .select {
    &:not(:first-child) {
      margin-top: 4px;
    }

    &__input {
      padding: 7px 0;
    }

    &__item {
      padding: 8px;
    }
  }
}

.price {
  margin-top: 25px;
}


.page-content__main {
  margin-top: 68px;
}

.releases-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 40px 40px;
  width: 100%;
}

.releases-item {
  position: relative;
}

.releases-item-link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.releases-item-link:hover {
  transform: scale(1.05);
}

.releases-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.releases-title__container {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  width: 190px;
  padding-top: 33px;
  padding-bottom: 10px;
}

.releases-title {
  color: #22232b;
  font-weight: 800;
  font-size: 16px;
}

.releases-subtitle {
  color: #22232b;
  opacity: 0.5;
  margin-top: 5px;
  font-size: 11px;
}

.releases-form {
  margin-top: 30px;
}

.releases-rating {
  display: flex;
  align-items: flex-end;
}

.rating__body {
  position: relative;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #000000;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.rating__body::before {
  content: "☆☆☆☆☆";
  display: block;
  color: #000000;
}

.rating__value {
  display: none;
}

.releases-cost {
  align-self: flex-end;
  display: inline-block;
  margin-top: 16px;
  color: #22232b;
  font-size: 16px;
}

.releases-basket {
  display: inline-block;
  border: none;
  align-self: flex-end;
  margin-top: 17px;
  transition: all 0.3s ease;
  background-color: #ffffff;
}

.releases-basket:hover {
  transform: scale(1.1);
}

.releases-basket__img {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 992px) {
  main {
    overflow: hidden;
  }
}

@media screen and (max-width: 568px) {
  .page-content__main {
    margin-top: 5px;
  }

  .releases-container {
    gap: 26px 16px;
    width: 100%;
  }
}

