

.releases-section {
  padding: 70px 55px;
}

.releases-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 40px 40px;
  width: 100%;
}
.releases-item {
  position: relative;
}
.releases-item-link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.3s ease;
}

.releases-item-link:hover {
  transform: scale(1.05);
}

.releases-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.releases-title__container {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFFFFF;
  width: 190px;
  padding-top: 33px;
  padding-bottom: 10px;
}

.releases-title {
  color: #22232B;
  font-weight: 800;
  font-size: 16px;
}
.releases-subtitle {
  color: #22232B;
  opacity: 0.5;
  margin-top: 5px;
  font-size: 11px;
}
.releases-form {
  margin-top: 30px;
}
.releases-rating {
  display: flex;
  align-items: flex-end;
}
.rating__body {
  position: relative;
}
.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.rating__active::before {
  content: "★★★★★";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: black;
}
.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}
.rating__body::before {
  content: "☆☆☆☆☆";
  display: block;
  color: black;
}
.rating__value {
  display: none;
}
.releases-cost {
  align-self: flex-end;
  display: inline-block;
  margin-top: 16px;
  color: #22232B;
  font-size: 16px;
}
.releases-basket {
  display: inline-block;
  border: none;
  align-self: flex-end;
  margin-top: 17px;
  transition: all 0.3s ease;
  background-color: white;
}
.releases-basket:hover {
  transform: scale(1.1);
}
.releases-basket__img {
  width: 24px;
  height: 24px;
}
@media screen and (max-width: 992px) {
  main {
    overflow: hidden;
  }
  .releases-section {
    padding: 50px 16px;
  }
}

@media screen and (max-width: 568px) {
  .releases-container {
    gap: 26px 16px;
    width: 100%;
  }
}

