{{!Home}}

{{> layout/head page-title="Ecommerce"}}


<main class="page-content__main">
<section class='releases-section'>
  <div class='releases-container'>
    {{#each home.products}}
      {{>blocks/product-card}}
    {{/each}}
  </div>
</section>
</main>


{{> layout/bottom }}
