<header class="page-content__header header-main js-header">
  <div class="container">
    <div class='header__container'>
      <img class='header__logo' src='../assets/images/header/logo.jpg' width='71' height='71' alt='Logo'>
      <nav class='header__menu header-menu'>
        <ul class='header-menu__items'>
          <li class='header-menu__item'>
            <a class='header-menu__link' href='#'>Home</a>
          </li>
          <li class='header-menu__item'>
            <a class='header-menu__link' href='#'>Shop</a>
          </li>
          <li class='header-menu__item'>
            <a class='header-menu__link' href='#'>Magazine</a>
          </li>
        </ul>
      </nav>
      <button class='header__basket' type='button'>
        <img class='header__basket_img' src='../assets/images/header/basket-black.png' width='24' height='24'>
      </button>
      <button class='header__login' type='button'>Login</button>
      <button class='header__mobile-menu' type='button'>
        <span class='header__burger'></span>
      </button>
    </div>
  </div>
</header>
